<div id="dashboard-mockup">
	<div class="ds-head">
		<img src="/img/dashboard_logo.png" width="87" height="63">
		<img src="/img/dashboard_right_menu.png" height="63">
	</div>
	<div class="content">
		<img src="/img/dashboard_central.png" width="1081">
	</div>
</div>

<div id="bot-interface" class="hide">
	<img src="/img/fake_bot.png" width="1277">
</div>

<div id="backdrop"></div>

<div id="app" class="hide" v-show="isReady" style="display: none;">
	<div class="header">
		<div class="caption">Chatfuel Introduction</div>
		<div class="close" v-on:click="close">×</div>
	</div>
	<div class="scroll-container" ref="scroll-container">

		<!-- intro + step 1 -->
		<div class="chat-section" v-if="_showItem(0,0)">
			<div class="avatar"></div>

			<div class="message" v-if="_showItem(0,1)">
				<div class="text">Hi, Eugene 👋 <br><br>Thrilled to have you joining our community <nowrap>of&nbsp;chat-bot</nowrap> pioneers!</div>
			</div>

			<div class="message" v-if="_showItem(0,2)">
				<div class="text">I’ll guide you through the steps towards your first bot</div>
			</div>

			<div class="message action-followup" v-if="_showItem(0,3)">
				<div class="text">Step 1:<br> Bots operate on behalf of Facebook pages, so you need to connect one first</div>
			</div>

			<div class="button-selector" v-if="_showItem(0,3)">
				<div class="list-item" v-on:click="choosePage($event.currentTarget)">
					<img src="/img/empty_group.png" srcset="/img/empty_group@2x.png 2x" class="icon">
					<div class="caption">Digital Mirror</div>
				</div>
				<div class="list-item" v-on:click="choosePage($event.currentTarget)">
					<img src="/img/sd.png" srcset="/img/sd@2x.png 2x" class="icon">
					<div class="caption">Script Doctor</div>
				</div>
			</div>
			<div class="typing" v-if="showTyping && currentStep == 0">
				<div class="dot one"></div>
				<div class="dot two"></div>
				<div class="dot three"></div>
			</div>
		</div>

		<!-- step 1 suggest -->
		<div class="user-suggest-list" v-if="_showItem(0,3) && !fbpage && !skipConnect">
			<div class="user-suggest">
				<span class="c">Create new</span>
			</div>
			<div class="user-suggest" 
				v-on:click='routeSkip'
			><span class="c">Skip this step</span></div>
		</div>

		<!-- user answer negative step 1 -->
		<div class="user-answer-wrapper" v-if="skipConnect">
			<div class="user-answer-line">
				<div class="user-answer">Skip the step</div>
			</div>
		</div>

		<!-- user answer positive step 1 -->
		<div class="user-answer-wrapper" v-if="!!fbpage">
			<div class="user-answer-line">
				<div class="user-answer">{{fbpage}}</div>
			</div>
			<div class="user-answer-line">
				<div class="user-answer-notification">
					<div class="progress" v-show="!connectedFbpage">
						<div class="lds-dual-ring"></div>
						Connecting to {{fbpage}}...
					</div>
					<div class="success" v-show="connectedFbpage">
						Connected to {{fbpage}}
					</div>
				</div>
			</div>
		</div>
		
		<!-- step 2 bot -->
		<div class="chat-section" v-if="_showItem(1,0)">
			<div class="avatar"></div>

			<div class="message" v-if="_showItem(1,1)">
				<div class="text">Step 2:<br>Choose a bot to start with</div>
			</div>

			<div class="carousel" v-if="_showItem(1,1)">
				<div class="carousel-scroll-container">
					<div class="carousel-item light">
						<div class="carousel-choose" v-on:click="chooseTemplate($event.currentTarget)" 
							style="background: rgb(72, 139, 238)"
						>
							<div class="cover">
								<img src="/img/templ_logo_cf.png">
							</div>
							<div class="blend-mask" style="linear-gradient(to bottom, rgba(72,139,238,0) 0%,rgba(72,139,238,1) 100%)"></div>
							<div class="caption">Starter – learn the basic concepts</div>
							<div class="author">by Chatfuel</div>
						</div>
						<div class="carousel-preview">Preview</div>
					</div>
					<div class="carousel-item light">
							<div class="carousel-choose" v-on:click="chooseTemplate($event.currentTarget)" 
							style="background-color: rgb(175, 168, 148);"
						>
							<div class="cover">
								<img src="/img/lead_scoring.jpg">
							</div>
							<div class="blend-mask" style="background: linear-gradient(to bottom, rgba(175,168,148,0) 0%,rgba(175,168,148,1) 100%);"></div>
							<div class="caption">
									Lead Scoring
								</div>
							<div class="author">by Dana Tran</div>
						</div>
						<div class="carousel-preview">Preview</div>
					</div>
					<div class="carousel-item dark">
							<div class="carousel-choose" v-on:click="chooseTemplate($event.currentTarget)" 
							style="background-color: white;border: 1px solid #f2f2f2"
						>
							<div class="cover">
								<img src="/img/shopify.png">
							</div>
							<!-- <div class="blend-mask" style="background: linear-gradient(to bottom, rgba(175,168,148,0) 0%,rgba(175,168,148,1) 100%);"></div> -->
							<div class="caption">
									Shopify Store
								</div>
							<div class="author">by GoBeyond.ai</div>
						</div>
						<div class="carousel-preview">Preview</div>
					</div>
					<div class="carousel-item light">
							<div class="carousel-choose" v-on:click="chooseTemplate($event.currentTarget)" 
								style="background: rgb(72, 139, 238)"
							>
								<div class="cover">
									<img src="/img/templ_logo_cf.png">
								</div>
								<div class="blend-mask" style="linear-gradient(to bottom, rgba(72,139,238,0) 0%,rgba(72,139,238,1) 100%)"></div>
								<div class="caption">Starter – learn the basic concepts</div>
								<div class="author">by Chatfuel</div>
							</div>
							<div class="carousel-preview">Preview</div>
						</div>
						<div class="carousel-item light">
								<div class="carousel-choose" v-on:click="chooseTemplate($event.currentTarget)" 
								style="background-color: rgb(175, 168, 148);"
							>
								<div class="cover">
									<img src="/img/lead_scoring.jpg">
								</div>
								<div class="blend-mask" style="background: linear-gradient(to bottom, rgba(175,168,148,0) 0%,rgba(175,168,148,1) 100%);"></div>
								<div class="caption">
										Lead Scoring
									</div>
								<div class="author">by Dana Tran</div>
							</div>
							<div class="carousel-preview">Preview</div>
						</div>
						<div class="carousel-item dark">
								<div class="carousel-choose" v-on:click="chooseTemplate($event.currentTarget)" 
								style="background-color: white;border: 1px solid #f2f2f2"
							>
								<div class="cover">
									<img src="/img/shopify.png">
								</div>
								<!-- <div class="blend-mask" style="background: linear-gradient(to bottom, rgba(175,168,148,0) 0%,rgba(175,168,148,1) 100%);"></div> -->
								<div class="caption">
										Shopify Store
									</div>
								<div class="author">by GoBeyond.ai</div>
							</div>
							<div class="carousel-preview">Preview</div>
						</div>
				</div>
			</div>

			<div class="typing" v-if="showTyping && currentStep == 1">
				<div class="dot one"></div>
				<div class="dot two"></div>
				<div class="dot three"></div>
			</div>
		</div>

		<!-- suggest step 2 choose bot -->
		<div class="user-suggest-list" v-if="_showItem(1,1) && !template">
			<div class="user-suggest" v-on:click="chooseTemplate($event.currentTarget)">
				<span class="caption">Blank bot</span>
			</div>
		</div>

		<!-- user answer bot name step 1 -->
		<div class="user-answer-wrapper" v-if="!!template">
			<div class="user-answer-line">
				<div class="user-answer">{{template}}</div>
			</div>
		</div>

		<div class="chat-section" v-if="_showItem(2,0)">
			<div class="avatar"></div>

			<!-- high load -->

			<div class="message" v-if="_showItem(2,1) && (fbpage == 'Script Doctor')">
				<div class="text">You’re likely to reach the limit of 5,000 users
					<div style="display:inline-block">in&nbsp;4–5 days</div> based on your page’s engagement statistics 📊</div>
			</div>
			
			<div class="message action-followup" v-if="_showItem(2,2) && (fbpage == 'Script Doctor')">
				<div class="text">Subscribe to PRO plan now to get more users onboard. Get to know them closer: edit attributes and create segments to drive
					conversions and engagement. This is a sure way to grow!</div>
			</div>

			<!-- alternative  -->

			<div class="message has-img" v-if="_showItem(2,1) && (skipConnect || fbpage == 'Digital Mirror')">
				<div class="img-wrap">
					<img src="/img/teaser.png" srcset="/img/teaser@2x.png 2x" />
				</div>
			</div>

			<div class="message action-followup" v-if="_showItem(2,2) && (skipConnect || fbpage == 'Digital Mirror')">
				<div class="text">
					<p><i class="bullet">1</i>Subscribe to PRO to get the data that helps bringing new users onboard;</p>
					<p><i class="bullet">2</i>Use attributes and segments to drive conversions;</p>
					<p><i class="bullet">3</i>Collect more data to power marketing efforts.</p>
					<br>This is a sure way to grow!
				</div>
			</div>

			<div class="button-selector no-img" v-if="_showItem(2,2)">
				<div class="list-item" v-on:click="choosePlan(true)">
					<div class="caption">Subscribe to PRO</div>
				</div>
				<div class="list-item">
					<div class="caption">Learn more</div>
				</div>
			</div>

			<div class="typing" v-if="showTyping && currentStep == 2">
				<div class="dot one"></div>
				<div class="dot two"></div>
				<div class="dot three"></div>
			</div>
		</div>

		<!-- suggest step 3 choose plan -->
		<div class="user-suggest-list" v-if="_showItem(2,2) && !skipPro && !planPaid">
			<div class="user-suggest" v-on:click="choosePlan(false)">
				<span class="c">Continue with Free plan</span>
			</div>
		</div>

		<!-- user answer plan step 3 -->
		<div class="user-answer-wrapper" v-if="skipPro">
			<div class="user-answer-line">
				<div class="user-answer">Continue with Free plan</div>
			</div>
		</div>

		<!-- user answer plan step 3 -->
		<div class="user-answer-wrapper" v-if="planPaid == true">
			<div class="user-answer-line">
				<div class="user-answer">Subscribe to PRO</div>
			</div>
		</div>

		<!-- step 4 final -->
		<div class="chat-section" v-if="_showItem(3,0)">
			<div class="avatar"></div>
			<div class="message" v-if="_showItem(3,1)">
				<div class="text">You’re all set up. Happy chatting!</div>
			</div>

			<div class="typing" v-if="showTyping && currentStep == 3">
				<div class="dot one"></div>
				<div class="dot two"></div>
				<div class="dot three"></div>
			</div>
		</div>

		<!-- END OF SCROLLING CONTAINER -->
	</div>
</div>
